[Unit]
Description=FFT for ESP32
After=network.service

[Service]
Restart=always
RestartSec=30s
ExecStart=/home/{{ deploy_user }}/ledding/pyaudio.py

[Install]
WantedBy=multi-user.target
