[connection]
id={{ lan_adapter }}-static
type=ethernet
interface-name={{ lan_adapter }}

[ipv4]
method=manual
address1={{ lan_static.address }}/24,{{ lan_static.gateway }}
dns={{ lan_static.nameservers | replace(' ', ';') }};

[ipv6]
method=disabled
